button {
	border-radius: 5px;
	background-color: #0074D9;
	border-style: none;
	color: white;
	outline: 0;
	height: 30px;
	font-size: 14px;
	margin-left: 2px;
	width: 60px;
}

textarea {
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	width: 380px;
	margin-top: 5px;
	resize: vertical;
}

footer {
	margin-top: 3px;
	width: 100%;
	text-align: center;
	bottom: 0;
	background-color: white;
}

.box {
	height: 85vh;
	min-height: 400px;
}

.button_add {
	width: 120px;
	font-size: 16px;
	margin-right: 0px;
	line-height: 15px;
	display: inline-block;
}

.buttons_box {
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: right;
}


.form {
	text-align: center;
	background-color: #34495e;
	font-size: 16px;
	height: 30vh;
	min-height: 120px;
	width: 400px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	overflow: scroll;
}

.recipes_without_form {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 100%;
	background-color: #FFDC00;
	border-radius: 10px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 10px;
	overflow: scroll;
}

.recipes_with_form {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 55vh;
	background-color: #FFDC00;
	border-radius: 10px;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 10px;
	overflow: scroll;
}

.textarea_title {
	height: 5vh;
	min-height: 25px;
}

.textarea_recipe {
	height: 16vh;
	min-height: 25px;
}

.head {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 40px;
	margin-top: 2vh;
	margin-bottom: 1vh;
	line-height: 40px;
}

.name {
	cursor: pointer;
}

.name:hover {
	color: #000080;
}

.title {
	font-size: 32px;
	text-align: left;
	display: inline-block;
}
